@import url(reset.css);
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDD4Z1xlEA.ttf) format('truetype');
}
html {
  overflow: hidden;
}
body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}
.headerParallax {
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
  z-index: -1;
}
.headerParallax::before {
  content: '';
  width: 100vw;
  height: 80vh;
  top: 0;
  left: 0;
  background-image: url("../img/header.jpg");
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2.3);
}
.header {
  margin: 0 auto;
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  filter: brightness(90%);
}
.logoCoffee {
  width: 119px;
  height: 73px;
  margin: 21px 0 44px 0;
}
.textMenuAndClock {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu li {
  transition: transform 0.2s linear;
}
.menu li:hover {
  transform: scale(1.1, 1.1);
}
.menu li a {
  text-decoration: none;
  margin: 0 23px;
  padding: 4px 0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
}
.menu li a:hover {
  border-bottom: 2px solid #ffffff;
}
.logoVintage {
  width: 159px;
  margin: 58px 0 40px 0;
}
.headerTitle {
  color: #ffffff;
  text-transform: lowercase;
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin: 0 0 28px 0;
}
.discoverCoffeeButton {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 168px;
  height: 48px;
  background-color: #B66615;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.15em;
  transition: transform 0.2s linear, background-color 0.2s linear, color 0.2s linear;
}
.discoverCoffeeButton:hover {
  transform: scale(1.2, 1.2);
  background-color: #ffffff;
  color: #B66615;
}
.main {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: relative;
}
.historyAndWhyChooseUs {
  width: 66.66666667vw;
  height: 1070px;
}
.titleH2 {
  color: #B66615;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0 0 20px 0 ;
}
.par {
  color: #777777;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 2.5em;
  text-align: justify;
}
.history {
  height: 50%;
  margin: 135px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.history .historyImgBlock {
  display: flex;
  flex-direction: column;
}
.history .historyImgBlock .historyImgBig {
  position: relative;
  height: 320px;
}
.history .historyImgBlock .historyImgSmall {
  position: relative;
  height: 240px;
  left: 190px;
  bottom: 95px;
}
.history .historyTextBlock {
  width: 377px;
}
.history .historyTextBlock .historyTextTitle {
  color: #B66615;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0 0 20px 0 ;
}
.history .historyTextBlock .historyTextPar {
  color: #777777;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 2.5em;
  text-align: justify;
}
.whyChooseUs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.whyChooseUs .whyChooseUsTextTitle {
  color: #B66615;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0 0 20px 0 ;
}
.whyChooseUs .whyChooseUsTextUl {
  list-style-type: disc;
  color: #777777;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 2.5em;
  text-align: justify;
}
.whyChooseUs .whyChooseUsImg {
  height: 375px;
}
.hours {
  background-image: url("../img/clock_back.jpg");
  background-size: cover;
  background-position: top center ;
  width: 100vw;
  height: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hours .hoursTitle {
  color: #B66615;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0 0 20px 0 ;
}
.hours .hoursIconClock {
  margin: 5px 0 30px 0;
}
.hours .hoursWorking {
  display: flex;
  flex-direction: row;
  line-height: 2em;
}
.hours .hoursWorking .hoursSundayToTuesday {
  width: 170px;
  margin: 0 25px 0 0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
}
.hours .hoursWorking .hoursSundayToTuesday p {
  display: flex;
  justify-content: flex-end;
}
.hours .hoursWorking .hoursSundayToTuesday p:nth-child(2) {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}
.hours .hoursWorking .hoursFridayAndSaturday {
  width: 170px;
  margin: 0 0 0 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
}
.hours .hoursWorking .hoursFridayAndSaturday p {
  display: flex;
  justify-content: flex-start;
}
.hours .hoursWorking .hoursFridayAndSaturday p:nth-child(2) {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}
/*# sourceMappingURL=style.css.map */